header{
    width: 100%;
    height: 120px;
    position: fixed;
    background: black;
    display: flex;
}

#logoheader{
    width: 80px;
    margin: 20px 220px;
}

ul{
    align-items: center;
    margin: 0 220px 0 auto;
    display: flex;
}

li{
    margin-left:50px;
}

.headerlinks{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
}

body{
    background: black;
}

.imagenportada{
    margin-top: 119px;
    width: 100%;
}

.infoproyecto{
    width: 100%;
    margin: 0;
    padding: 90px 0 40px 0;
    text-align: center;
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.tituloinfo{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
    margin: 0px 0 45px 0;
}

.contenidoinfo{
    width: 70%;
    font-size: 30px;
    margin: 0 auto 0px auto;
}

#artconcept{
    width: 30%;
    margin-right: 5%;
    margin-bottom: 50px;
    margin-top: 30px;
}

#perfil{
    width: 40%;
    margin-bottom: 50px;
    margin-top: 30px;
}

#Turnaround{
    width: 75%;
}

.imagenmuestra{
    width: 100%;
}

#traileryoutube{
    width: 930px;
    height: 523px;
}

footer{
    width: 100%;
}
.logofooter{
    width: 20%;
    margin: 50px 40%;
}

.logofootersantimartz{
    width: 10%;
    margin: 50px 45%;
}

#Listafamilia{
    margin-top: 40px;
    width: 100%;
    background: #530000;
    padding: 50px 0;
}

.tituloblanco{
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.textoblanco{
    text-align: center;
    width: 50%;
    margin: 20px auto;
    color: white;
    font-family: 'Montserrat','sans-serif';
    font-size: 18px;
    font-weight: 400;
}

#listadofamilia{
    width: 80%;
    margin: 10px auto;
}

.imagenesfamilia{
    align-items: center;
    width: 100%;
    margin: 0 0;
}

.elementosfamilia{
    margin: 40px 20px 0 20px;
}

#galeria{
    width: 100%;
    margin-top: 45px;
    padding: 40px 0;
    background: #530000;
}

.filas{
    margin-top: 40px;
}

.columnas{
    margin: 45px auto 0 auto;
    width: 90%;
    display: block;
}

.infoproyectos{
    width: 100%;
    margin: 0;
    padding: 90px 0 90px 0;
    text-align: center;
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.imagenesgaleria{
    width: 250px;
    margin: 10px;
}

.proyPS{
    padding: 50px 0;
    background: #001833;
}

.columnasproyectos2{
    width: 685px;
    margin: 50px auto 0 auto;
}

.columnasproyectos3{
    width: 1030px;
    margin: 50px auto 0 auto;
}

.imagenesproyectos{
    width: 300px;
    margin: 20px;
}

.proyBlnd{
    padding: 50px 0;
    background: #c16606;
}

.proyONE{
    padding: 50px 0;
    background: #001332;
}

.proyfiverr{
    padding: 50px 0;
    background: #013912;
}

.logoscontacto{
    width: 50px;
    margin: 15px;
}

.contenedortextoylogos{
    width: 312px;
    display: block;
}

.contenedorescontactos{
    width: 70%;
    margin: 50px auto;
    display: flex;
}


.contenedoreslogos{
    width: 80%;
    margin: 0 auto;
}

.textocontacto{
    text-align: center;
    margin: 20px 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.contenedorescorreos{
    width: 40%;
    margin: auto;
}

.textoblancocontacto{
    font-family: 'Montserrat',sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
}

.acercade{
    width: 70%;
    padding: 70px 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.textoinfo{
    line-height: 1.1em;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;

}

.miinfo{
    padding-left:40px;
    display: inline-block;
}

.imagenyop{
    height: 400px;
}

.seccionesmenu{
    background: #530000;
    padding: 20px;
    width: 600px;
    display: flex;
    text-decoration-line: none;
    margin: 20px 20px;
}

.textomenu{
    text-decoration: none;
    margin: 20px 20px 0 20px;
    line-height: 1.1em;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
}

.imagenesmenu{
    height: 200px;
}

.menuindex{
    width: 90%;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}